.filteredCategoriesContainer {
    max-height: 250px;
    overflow-y: auto;

}
.excludeCategoriesContainer {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.excludeCategoriesContainer::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.excludeCategoriesContainer {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.transparentButton {
    background: transparent;
    border: none;
    color: inherit;
}

.filteredCategoriesItem:hover {
    background-color: #f2f4f5;
}

.filteredCategoriesItem {
    padding: 5px 0;
    border: none;
    border-bottom: 1px solid #ccc;
    margin-bottom: 5px;
    display: block;
    background: none;
    text-align: left;
    cursor: pointer;
}

.filteredCategoriesItem:last-child {
    border-bottom: none;
}

.errorMessage {
    margin: 0;
    font-size: 14px;
    color: #ff0000;
    font-weight: bold;
    text-align: right;
}

.hasError {
    box-shadow: 0 0 3px #ff0000
}

.successMessage, .errorMessage {
    font-weight: bold;
    font-size: 15px;
    text-align: center;
}

.errorMessage {
    color: red;
}

.successMessage {
    color: green;
}

.table {
    border-collapse: collapse;
    width: 100%;
}

.table th {
    text-align: center;
    background-color: #f1f1f1;
    font-size: 15px;
}

.table th,
.table td {
    border: 1px solid #ccc;
    padding: 5px;
}

.tableProducts th {
    background-color: transparent;
    padding: 8px 0;
}

.tableProducts tbody tr,
.tableProducts thead {
    border-bottom: 1px solid #f2f2f2;
}

.tableProducts tbody tr:last-child {
    border-bottom: none;
}

.tableProducts td,
.tableProducts th {
    border: none;
    padding: 10px 0;
}

.tableSm td {
    font-size: 14px;
}

.textCenter {
    text-align: center;
}

.statusPendingVerification {
    color: #ffb100;
}

.statusDenied {
    color: #ff0000;
}

.statusPartiallyApproved {
    color: #f86d3a;
}

.statusApproved {
    color: green;
}

.statusNew {
    color: navy;
}

.tableProductColumn {
    max-width: 200px;
}

.tableProductsRow td {
    padding-top: 20px;
}

.capitalize {
    text-transform: capitalize;
}

.statusIcon {
    width: 30px;
    height: 30px;
    border: 1px solid #134cd8;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    padding-top: 3px;
    padding-left: 3px;
    background: #fff;
    margin-right: 20px;
}

.statusIconChecked {
    background: #134cd8;
}

.statusLine {
    display: flex;
    align-items: center;
}

.statusUl {
    background-image: linear-gradient(gray 33%, rgba(255, 255, 255, 0) 0%);
    background-position: left;
    background-size: 2px 6px;
    background-repeat: repeat-y;
    list-style-type: none;
    margin-left: 15px;
    min-height: 20px;
    padding-top: 0;
    padding-bottom: 0;
}

.statusUl li {
    padding-bottom: 5px;
}

.statusUlLast {
    background-image: none;
}

.tableThParagraph {
    margin-bottom: 5px;
    font-weight: bold;
}
