.mobileReturnListContainer{
  transition: all 400ms ease;
}

.controlGridVisibility{
  display: flex;
  align-items: center;

  gap: 7px;
}

.controlGridVisibility > span {
  font-size: .875rem;
  color: #464646;
  font-weight: 500;
}

.controlGridVisibilityButtons{
  display: flex;
  align-items: center;

  gap: 7px;
}

.controlGridVisibilityButtons button {
  background: none;
  border: none;
}

.returnList {
  display: grid; 
  grid-template-rows: 1fr; 
  gap: 17px;

  margin: 26px 0 0;
}

.returnListSingle {
  grid-template-columns: 1fr; 
  grid-template-areas: 
    ".";
}

.returnListDouble {
  grid-template-columns: minmax(139px, 1fr) minmax(139px, 1fr);
  grid-template-areas: 
    ". .";
}

.returnListItem{
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 12px 0px;
  gap: 12px;

  border-radius: 6px;

  background: #fff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.returnListItemHeader{
  display: flex;
  align-items: center;

  gap: 6px;

  padding-left: 2px;
}

.returnListItemHeader > span {
  font-size: .75rem;
  color: #464646;
}

.returnListItemHeader > span:first-child {
  font-weight: 500;
}

.returnListItemImage {
  width: 100%;
  height: 100%;
  max-height: 200px;
}

.returnListItemImage img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.returnListItemInfo {
  display: flex;
  flex-direction: column;

  gap: 12px;
  padding-left: 10px;
}

.returnListItemInfoDate {
  font-size: .75rem;
  color: #464646;
  font-weight: 400;
}

.returnListItemInfoIdContainer {
  display: flex;
  align-items: center;

  gap: 10px;
}

.returnListItemInfoIdContainer > span {
  font-size: .875rem;
  color: #464646;
  font-weight: 400;
}

.returnListItemInfoIdContainer > span:first-child {
  font-weight: 500;
}

.returnListItemInfoStatus {
  display: flex;
  align-items: center;

  gap: 10px;
}

.emptyList {
  font-size: 1rem;
  font-weight: 500;
  
}