{
  "extends": "vtex-react",
  "env": {
    "browser": true,
    "es6": true,
    "jest": true,
    "node": true
  },
  "rules": {
    "camelcase": [1, {"properties": "always"}
    ],
    "import/no-nodejs-modules": "off"
  }
}
